# ileri toplulastirma islemleri(aggregate, transform,filter, apply)

In [4]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],"veriler1":[10,74,52,36,87,20],"veriler2":[11,22,33,44,55,66]}
                , columns=["gruplar","veriler1","veriler2"])
df

  gruplar  veriler1  veriler2
0       a        10        11
1       b        74        22
2       c        52        33
3       a        36        44
4       b        87        55
5       c        20        66

In [6]:
df.groupby("gruplar").aggregate([min,np.median,max])
# median fonksiyonu pandas kutuphanesinde yok

        veriler1            veriler2
             min median max      min median max
gruplar
a             10   23.0  36       11   27.5  44
b             74   80.5  87       22   38.5  55
c             20   36.0  52       33   49.5  66

In [7]:
df.groupby("gruplar").aggregate({"veriler1":max,"veriler2":min})

         veriler1  veriler2
gruplar
a              36        11
b              87        22
c              52        33