# apply

In [4]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({"veriler1":[10,74,52,36,87,20],"veriler2":[11,22,33,44,55,66]}
                , columns=["veriler1","veriler2"])
df

   veriler1  veriler2
0        10        11
1        74        22
2        52        33
3        36        44
4        87        55
5        20        66

In [6]:
df.apply(np.sum)

veriler1    279
veriler2    231
dtype: int64

In [7]:
df.apply(np.mean)

veriler1    46.5
veriler2    38.5
dtype: float64

In [8]:
df1=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],"veriler1":[10,74,52,36,87,20],"veriler2":[11,22,33,44,55,66]}
                , columns=["gruplar","veriler1","veriler2"])
df1

  gruplar  veriler1  veriler2
0       a        10        11
1       b        74        22
2       c        52        33
3       a        36        44
4       b        87        55
5       c        20        66

In [12]:
df1.groupby("gruplar").apply(np.sum)

        gruplar  veriler1  veriler2
gruplar
a            aa        46        55
b            bb       161        77
c            cc        72        99