# filtreleme islemleri

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],"veriler1":[10,74,52,36,87,20],"veriler2":[11,22,33,44,55,66]}
                , columns=["gruplar","veriler1","veriler2"])
df

  gruplar  veriler1  veriler2
0       a        10        11
1       b        74        22
2       c        52        33
3       a        36        44
4       b        87        55
5       c        20        66

In [5]:
def filtrele(x):
    return x["veriler1"].std()>19
#veriler1 de standart sapmasi 19 dan buyuk olanlari cikti ver

In [4]:
df.groupby("gruplar").std()

          veriler1   veriler2
gruplar
a        18.384776  23.334524
b         9.192388  23.334524
c        22.627417  23.334524

In [6]:
df.groupby("gruplar").filter(filtrele)

  gruplar  veriler1  veriler2
2       c        52        33
5       c        20        66