# ileri birlestirme yontemleri

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.DataFrame({"calisanlar":["ali","veli","can"],"meslekler":["doktor","muhendis","temizlikci"]})
df1

  calisanlar   meslekler
0        ali      doktor
1       veli    muhendis
2        can  temizlikci

In [3]:
df2=pd.DataFrame({"calisanlar":["veli","can","ali"],"maaslar":[1000,2000,3000]})
df2

  calisanlar  maaslar
0       veli     1000
1        can     2000
2        ali     3000

In [4]:
pd.merge(df1,df2)

  calisanlar   meslekler  maaslar
0        ali      doktor     3000
1       veli    muhendis     1000
2        can  temizlikci     2000

In [7]:
pd.merge(df1,df2, on ="calisanlar")

  calisanlar   meslekler  maaslar
0        ali      doktor     3000
1       veli    muhendis     1000
2        can  temizlikci     2000

In [8]:
# coktan teke birlestirme

In [9]:
df3=pd.merge(df1,df2)
df3

  calisanlar   meslekler  maaslar
0        ali      doktor     3000
1       veli    muhendis     1000
2        can  temizlikci     2000

In [10]:
df4=pd.DataFrame({"meslekler":["doktor","muhendis","temizlikci"],"mudur":["aa","bb","cc"]})
df4

    meslekler mudur
0      doktor    aa
1    muhendis    bb
2  temizlikci    cc

In [11]:
pd.merge(df3,df4)

  calisanlar   meslekler  maaslar mudur
0        ali      doktor     3000    aa
1       veli    muhendis     1000    bb
2        can  temizlikci     2000    cc

In [14]:
df5=pd.DataFrame({"meslekler":["doktor","doktor","muhendis","temizlikci","temizlikci"],"yetenekler":["ameliyat","yonetim","onarim","tasarim","hijen"]})
df5

    meslekler yetenekler
0      doktor   ameliyat
1      doktor    yonetim
2    muhendis     onarim
3  temizlikci    tasarim
4  temizlikci      hijen

In [15]:
pd.merge(df3,df5)

  calisanlar   meslekler  maaslar yetenekler
0        ali      doktor     3000   ameliyat
1        ali      doktor     3000    yonetim
2       veli    muhendis     1000     onarim
3        can  temizlikci     2000    tasarim
4        can  temizlikci     2000      hijen