# gozlem ve degisken secimi

In [1]:
import numpy as np
import pandas as pd

In [2]:
m=np.random.randint(1,30, size=(10,3))

In [5]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])

In [6]:
df

   var1  var2  var3
0    21    19    19
1    25    10    23
2     7     9    14
3     5     3    12
4    29    24    15
5    16     5    12
6    13    28    13
7    26     2    21
8    28     2    14
9    23    22    22

In [7]:
# loc : tanimlandigi sekli ile secim yapmak icin kullanilir

In [8]:
df.loc[0:3]

   var1  var2  var3
0    21    19    19
1    25    10    23
2     7     9    14
3     5     3    12

In [9]:
# iloc: genel olan index mantigi ile secim yapar

In [10]:
df.iloc[0:3]

   var1  var2  var3
0    21    19    19
1    25    10    23
2     7     9    14

In [11]:
df.loc[:3,"var2"]

0    19
1    10
2     9
3     3
Name: var2, dtype: int32

In [13]:
df.iloc[:2]["var2"]

0    19
1    10
Name: var2, dtype: int32