In [1]:
# transform

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],"veriler1":[10,74,52,36,87,20],"veriler2":[11,22,33,44,55,66]}
                , columns=["gruplar","veriler1","veriler2"])
df

  gruplar  veriler1  veriler2
0       a        10        11
1       b        74        22
2       c        52        33
3       a        36        44
4       b        87        55
5       c        20        66

In [5]:
df_a=df.iloc[:,1:3]
df_a

   veriler1  veriler2
0        10        11
1        74        22
2        52        33
3        36        44
4        87        55
5        20        66

In [7]:
df_a.transform(lambda x : x-x.mean())
# her elemandan icindeki bulundugu grubun ortalamasini cikar

   veriler1  veriler2
0     -36.5     -27.5
1      27.5     -16.5
2       5.5      -5.5
3     -10.5       5.5
4      40.5      16.5
5     -26.5      27.5

In [8]:
df_a.transform(lambda x: (x-x.mean())/x.std())

   veriler1  veriler2
0 -1.207115 -1.336306
1  0.909470 -0.801784
2  0.181894 -0.267261
3 -0.347252  0.267261
4  1.339401  0.801784
5 -0.876398  1.336306